* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #020A18;
}

.header {
    margin-bottom: 160px;
}

.container {
    margin: 0 auto;
    width: 1146px;
}

/* text content css */
.header-link {
    color:  #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    padding: 40px 20px;

}

.header-menu {
    display: flex;
    justify-content: center;
}

.subtitle {
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 71.5px */
    margin-bottom: 40px;
}

.dsc {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    opacity: 0.7;
    margin-bottom: 50px;
}

.feature_heading{
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 31.25px */
}

/* buttons css */

.button-link {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 1rem 2rem;
    background-color: #3A68B8;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 20px;
    border: 2px solid transparent;
    display: block;
}

.button-link:hover {
    background-color: #fff;
    color: #3A68B8;
    border: 2px solid #3A68B8;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.ai-left, .ai-right {
    width: 47%;
}

.ai {
    margin-bottom: 200px;
}

.fa-play {
    margin-right: 10px;
}

.link-box {
    display: flex;
}

.middle {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    height: 60px;
}

.logos{
    margin-bottom: 256px;
}

.features{
    display: flex;
    justify-content: space-between;
}

.feature_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 30%;
    border-radius: 10px;
    background: #132035;
    backdrop-filter: blur(100px);
}

.feature_text{
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
}

.feature_pic{
    width: 30%;
}

.content{
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    padding-top: 264px;
    padding-bottom: 243px;
}

.item{
    border-radius: 10px;
    background: #132035;
    padding: 30px;
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 30px;
}

.item_big{
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.heading{
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

.item_text{
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}