* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.container{
    width: 100%;
}

img {
    max-width: 100%;
  }

/* navbar style */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #222;
    flex-grow: 1;
}

.header_left, .header_right{
    padding-bottom: 2em;
    padding-top: 2em;
}

.header_left{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.header_right{
    display: flex;
    align-items: baseline;
    max-width: 40%;
    justify-content: space-between;
}

.navbar_menu{
    margin: 20%;
}

.logo_img{
    margin-right: 2em;
    width: 40%;
}

/* background preview */

.background_preview_content{
    width: 100%;
    display: flex;
    background: #F1E4E6;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 10%;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-around; */
}

.background_left{
    width: 40%;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.background_right{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2em;
}

.background_pic{
    width: 100%;
}

.background_item{
    padding-right: 1em;
    max-width: 80%;
    max-height: 20%;
}

/* offer block */

.offers_menu{
    display: grid;
    gap: 2%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
    justify-content: center;
}

.offer_block{
    position: relative;
    margin: auto;
}

.bottom_offer_block{
    grid-column: span 3;
}

.offer_content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.offer_img{
    width: 100%;
    min-height: 100px;
}

/* product items */

.product_block{
    background-color: #F8F8F8;
}

.products_heading{
    margin-bottom: 3em;
}
.featured_items{
    margin-block-end: 0;
}

.product_items{
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    gap: 30px;
}


/* text styling */
h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.offer_content{
    font-size: 1.2em;
}
/* .offer_text, .offer_heading{
    font-size: 1.2em;
} */

.offer_text, .featured_items_text{
    font-style: normal;
    text-align: center;
    color: #ffffff;
}

.offer_heading, .featured_items{
    font-style: normal;
    text-align: center;
    color: #F16D7F;
}

.featured_items{
    color: #222;
}

.featured_items_text, .product_description{
   color: #9F9F9F; 
}

.price{
    color: #F16D7F;
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
.offers_menu{
    display: grid;
    gap: 2%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 10%;
}
}

@media (max-width: 767px) {

    .logo_personal_account, .logo_basket{
        display: none;
    }

    .background_preview_content{
        justify-content: center;
    }

    .background_left{
        display: none;
    }

    .background_right{
        margin: 4em;
    }
    .offers_menu{
        display: flex;
        flex-direction: column;
    }

    .offer_block{
        margin: 0%;
    }
    }

