@import '../scss/helpers/_helpers.scss';


summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.filter_sort {
    display: flex;
    position: relative;
    height: 132px;
    padding-top: 39px;
}

.filter {
    padding: 13px 16px 16px;
    width: 360px;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    // padding-left: 12%;

    &[open] {
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &[open] .filter_heading {
        color: $brand_pink_color;
    }

    &[open] path {
        fill: $brand_pink_color;
    }

    &_summary {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    &_heading {
        color: #000;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &_content {
        margin-top: 16px;
        // position: absolute;
    }

    &_link_box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &_head {
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $brand_pink_color;
    }

    &_item[open] .filter_head {
        color: $brand_pink_color;
    }

    &_link {
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;

        &:hover {
            color: $brand_pink_color;
        }
    }


}

.sort {
    display: flex;
    left: 490px;
    top: 51px;
    gap: 18px;
    z-index: 9;
    position: absolute;

    &_details {
        position: relative;
    }

    &_summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &_heading {
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        left: -9px;
        top: 22px;

    }

    &_check {
        display: flex;
        gap: 9px;
        align-items: center;

        color: #6F6E6E;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}


.product_items {
    gap: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 1139px) {

    .filter_sort {
        justify-content: space-between;

        .filter {
            padding-left: 0;
        }
    }

    .subscribe_text {
        margin-bottom: 60px;
    }

    .input_form {
        margin-bottom: 110px;
    }
}

.product_items {
    gap: 16px;
}

@media (max-width: 768px) {
    .sort {
        left: 390px;

        &_heading,
        &_box {
            font-size: 12px;
        }
    }

    .product_items {
        gap: 16px;
    }
}

@media only screen and (min-width:540px) and (max-width:650px) {
    .sort {
        margin-left: -20vw;
    }
}

@media only screen and (min-width:480px) and (max-width:540px) {
    .sort {
        margin-left: -35vw;
    }
}

@media only screen and (min-width:420px) and (max-width:480px) {
    .sort {
        margin-left: -55vw;
    }
}

@media only screen and (min-width:375px) and (max-width:420px) {
    .sort {
        margin-left: -70vw;
    }
}

@media (max-width: 376px) {
    .sort {
        margin-left: -75vw;
    }

    .filter {
        width: 50vw;

        &_heading {
            display: none;
        }
    }
}