.background_preview_content {
  justify-content: flex-start;
  padding-left: calc(8px + 1.5625vw);
  margin-bottom: 64px;
}

.registration-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.information {
  max-width: 652px;
}

.registration {
  max-width: 360px;
  margin-bottom: 100px;
}
.registration__form {
  display: flex;
  flex-direction: column;
}
.registration__form_heading {
  color: #222;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 16px;
}
.registration__form_input {
  width: 358.986px;
  height: 44px;
  margin-top: 20px;
}
.registration__form_sex-choice {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 31px;
  margin-bottom: 33px;
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 11px;
}
.registration__form_sex-choice input[type=radio] {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  color: #A4A4A4;
  padding-right: 10px;
  margin-right: 10px;
}
.registration__form_sex-choice .sex-label {
  margin-right: 20px;
}
.registration__form_text {
  color: #B1B1B1;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 39px;
}
.registration__button {
  margin-top: 39px;
  background-color: #F16D7F;
  width: 167px;
  height: 50px;
  color: #FFF;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 16px;
  border: none;
  margin-top: 17px;
}
.registration__button:hover {
  background-color: rgb(175, 175, 246);
  color: #F16D7F;
  transition-duration: 0.2s;
}

.information {
  list-style-position: inside;
  max-width: 652px;
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 24px;
}
.information__text {
  margin-top: 21px;
  margin-bottom: 22px;
}
.information__text_item {
  margin-bottom: 16px;
}
.information__text_item::before {
  content: "";
  display: inline-block;
  width: 30px;
}
.information__text_item::marker {
  content: url("../img/li.svg");
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    justify-content: space-between;
  }
  .background_preview_content {
    padding-left: 16px;
  }
  .registration-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    gap: 22px;
  }
  .information {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .background_preview_content {
    justify-content: center;
    padding-left: 0;
  }
  .registration-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    gap: 22px;
  }
  .registration {
    margin-bottom: 40px;
  }
  .information {
    font-size: 16px;
    max-width: 359px;
  }
}/*# sourceMappingURL=style_registration_page.css.map */