* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.container {
  width: 100%;
}

/* navbar style */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #222;
  flex-grow: 1;
  height: 75px;
}

.header_left {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header_right {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 40%;
}

.navbar_menu {
  padding: 20px;
}
.navbar_menu_item {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  padding: 30px;
}

.menu_heading {
  display: block;
}

/* navbar dropdown menu */
.navbar_menu_item:hover .dropdown_content {
  display: block;
}

.logo_menu,
.logo_personal_account,
.logo_basket {
  width: 30px;
  height: 30px;
}

.logo_img {
  margin-right: 2em;
  width: 40%;
}

/* background preview */
.background_preview_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background: #F1E4E6;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 10%;
}

.background_left {
  width: 40%;
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.background_right {
  display: flex;
  flex-direction: row;
  width: 40%;
  align-items: center;
  margin: 2em;
}

.background_pic {
  width: 100%;
}

.background_image_item {
  max-width: 100%;
}

.background_item {
  padding-right: 1em;
  max-width: 80%;
  max-height: 20%;
}

/* offer block */
.offers_menu {
  display: grid;
  gap: 2%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 10%;
  justify-content: center;
}

.offer_block {
  position: relative;
  margin: auto;
}

.bottom_offer_block {
  grid-column: span 3;
}

.offer_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.offer_img {
  width: 100%;
  min-height: 100px;
}

/* product items */
.items_list {
  margin-bottom: 10%;
}

.product_block {
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 13px;
  background-color: #F8F8F8;
  font-weight: 400;
}

.product_img {
  position: relative;
}
.product_img_sample {
  width: 100%;
}

.layer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 100%;
  height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-backdrop-filter: blur(8px) brightness(80%);
          backdrop-filter: blur(8px) brightness(80%);
  transition: all 0.3s ease-in-out;
}

.layer_border {
  border: solid #FFF;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.cart_label {
  color: #FFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product_img:hover .layer {
  bottom: 0;
  height: 100%;
}

.products_heading {
  margin-bottom: 3em;
}

.featured_items {
  margin-block-end: 0;
}

.product_items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}

/* text styling */
h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.menu_heading {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.shop_department {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.department_items {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.offer_content {
  font-size: 1.2em;
}

.offer_text,
.featured_items_text {
  font-style: normal;
  text-align: center;
  color: #ffffff;
}

.offer_heading,
.featured_items {
  font-style: normal;
  text-align: center;
  color: #F16D7F;
}

.featured_items {
  color: #222;
}

.featured_items_text,
.product_description {
  color: #9F9F9F;
}

.price {
  color: #F16D7F;
}

/* services description block */
.services_description {
  background-color: #222224;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.service_item {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex: 1;
  width: 80%;
  padding: 3%;
}

.service_heading {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.service_description_text {
  color: #FBFBFB;
  text-align: center;
  font-family: Lato;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}

/* subscription_form */
.subscribtion_section {
  display: block;
  width: 100%;
  background-image: url(../img/sunscription_background.png);
  background-color: rgba(244, 244, 244, 0.7);
  min-height: 448px;
  background-position: 25% 75%;
  background-size: cover;
  position: relative;
}

.transparent_layer {
  width: 100%;
  height: 100%;
  min-height: 448px;
  background: rgba(244, 244, 244, 0.7);
}

.subscribtion_content {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 10%;
  min-height: 448px;
  padding-top: 56px;
}

.subscribe_info {
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.subscribe_avatar {
  width: 96px;
  height: 96px;
}

.subscribe_text {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe_form {
  width: 45%;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe_form_heading {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.subscribe_promotion {
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}

.input_form {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
}

.inputfield {
  border-radius: 20px 0 0 20px;
  width: 256px;
  height: 49px;
  background-color: #E1E1E1;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  padding-left: 22px;
}

.subscribe_button {
  border-radius: 0 20px 20px 0;
  background-color: #F16D7F;
  width: 100px;
  height: 49px;
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

/* footer */
.footer_section {
  background-color: #222224;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
}

.footer_left {
  padding-top: 30px;
  padding-bottom: 30px;
}

.copyright_text {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_right {
  padding-top: 23px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  gap: 7.29px;
}

.footer_icon {
  position: relative;
}

.frame_img {
  width: 100%;
}

.frame_img_hover {
  display: none;
  width: 100%;
}

.icon_img {
  flex-shrink: 0;
  position: absolute;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* footer hovers */
.icon_frame:hover .frame_img_hover {
  display: block;
}

.icon_frame:hover .frame_img {
  display: none;
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .navbar {
    justify-content: space-between;
    padding: 0 20px;
  }
  .offers_menu {
    display: grid;
    gap: 2%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 10%;
  }
  /* services description */
  .services_description {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .subscribtion_content {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .subscribe_text {
    margin-bottom: 60px;
  }
  .input_form {
    margin-bottom: 110px;
  }
  /* footer section */
  .footer_section {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media (max-width: 767px) {
  .navbar {
    justify-content: space-between;
    padding: 0 20px;
  }
  .navbar_menu:nth-child(2) {
    display: none;
  }
  .navbar_menu:nth-child(3) {
    display: none;
  }
  .background_preview_content {
    justify-content: center;
  }
  .background_left {
    display: none;
  }
  .background_right {
    margin: 4em;
    justify-content: center;
  }
  .navbar_menu {
    display: block;
    padding: 20px;
  }
  .dropdown_content {
    right: 0;
    left: auto;
  }
  /* offers_menu */
  .offers_menu {
    display: flex;
    flex-direction: column;
  }
  .offer_block {
    margin: 0%;
  }
  .product_items {
    grid-template-columns: fit-content(80%);
    margin-bottom: 100px;
  }
  /* services description */
  .services_description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .service_item:last-child {
    padding-bottom: 80px;
  }
  .service_item:first-child {
    padding-top: 48px;
  }
  /* subscribe section */
  .subscribtion_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .subscribe_text {
    margin-bottom: 60px;
  }
  .input_form {
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin-bottom: 110px;
  }
  /* footer section */
  .footer_section {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 2%;
    padding-right: 2%;
  }
  .footer_left {
    padding-top: 40px;
    padding-bottom: 9px;
  }
  .footer_right {
    padding-top: 43px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    gap: 7.29px;
  }
}/*# sourceMappingURL=style_mainpage.css.map */