@import '../scss/helpers/_helpers.scss';

.background_preview_content {
    justify-content: flex-start;
    height: 148px;
    background: #F1E4E6;
    border-bottom: solid 1px #EAEAEA;
}

.purchase {
    margin-top: 96px;
    margin-bottom: 128px;
    @include flex_block(start, space-around);
    flex-direction: row;
    gap: 130px;

    // left side of content
    &_list {
        @include flex_direction(column);
        gap: 40px;
        align-items: center;

        &_item {
            display: flex;
            box-shadow: 20px 20px 20px #c6c5c5;
        }

        .action_buttons {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 32px;

            &_item {
                width: 235px;
                height: 50px;
                color: #000;
                font-family: Lato;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                border: 1px solid #A4A4A4;
                background-color: white;
            }

            &_item:hover {
                background-color: $brand_pink_color;
                color: white;
                transition-duration: .2s;
            }
        }
    }

    .item_info {
        padding: 22px 28px 62px 31px;
    }

    .item_title {
        @include flex_direction($fd);
        align-items: baseline;
    }

    .item_heading {
        @include heading_text($text_color, 24px);
        max-width: 262px;
        font-weight: 400;
    }

    .delete_item {
        border: none;
        background-color: white;
        width: 18px;
        height: 18px;
    }

    .delete_item_img:hover {
        transition-duration: .2s;
        filter: brightness(0) saturate(100%) invert(57%) sepia(19%) saturate(1629%) hue-rotate(304deg) brightness(97%) contrast(94%);
    }

    .item_description {
        margin-top: 42px;
        color: #575757;
        font-family: Lato;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &_highlight {
            color: #6F6E6E;
            font-family: Lato;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            &_price {
                color: $brand_pink_color;
            }

        }

        &_quantity {
            border: 1px solid black;
        }

        &_input {
            text-align: center;
            width: 44px;
            margin-left: 24px;
            color: #656565;
            font-family: Lato;
            font-size: 18px;
            font-weight: 400;
        }
    }

    // left side of content
    &_purchase_info {
        max-width: 360px;
        display: flex;
        flex-direction: column;
    }

    .shipping {
        margin-bottom: 77px;

        &_heading {
            color: #222;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        .address_form {
            display: grid;
            // width: 360px;
            gap: 20px;
            padding: 20px 0 20px 0
        }

        .address_inputfield {
            height: 45px;
            width: 360px;
            padding-left: 10px;
        }

        &_submission {
            width: 100px;
            height: 35px;
            color: #4A4A4A;
            font-family: Lato;
            font-size: 11px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            border: 1px solid #A4A4A4;
            background-color: white;
        }

        &_submission:hover {
            background-color: $brand_pink_color;
            color: white;
            transition-duration: .2s;
        }
    }

    .checkout {
        max-width: 360px;
        height: 214px;
        background-color: #F5F3F3;
        padding: 39px 43px 42px 44px;
        // margin-top: 77px;

        &_sum {
            display: flex;
            flex-direction: column;
            align-items: end;
        }

        .subtotal {
            color: #4A4A4A;
            font-family: Lato;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            &_sum {
                padding-left: 20px;
            }
        }

        .grandtotal {
            color: #222;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            &_sum {
                color: $brand_pink_color;
                padding-left: 20px;
            }
        }

        &_button {
            background-color: $brand_pink_color;
            width: 273px;
            height: 50px;
            color: #FFF;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            border: none;
            margin-top: 17px;
        }

        &_button:hover {
            @include hover_button();
        }
    }

}

.product-img {
    width: max-content;
    height: max-content;
}

@media only screen and (min-width: 768px) and (max-width: 1139px) {

    .purchase {

        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 59px;

        &_list_item {
            width: 734px;
        }
    }

    .purchase_list {
        .action_buttons {
            justify-content: center;
            gap: 48px;
        }
    }

    .purchase_info {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

}

@media (max-width: 767px) {

    .background_preview_content {
        justify-content: center;
        padding-left: 0;
    }

    .purchase {
        display: grid;
        grid-template-columns: max-content;
        margin-top: 39px;
        margin-bottom: 48px;
        gap: 0;

        &_list {
            margin-bottom: 48px;
        }

        &_list_item {
            width: 358px;

            .product-img {
                width: 143.859px;
                height: 188px;
            }
        }
    }

    .item_info {
        .item_title {
            .item_heading {
                font-size: 16px;
            }

            .delete_item {
                .delete_item_img {
                    width: 0.5rem;
                    height: 0.5rem;
                }
            }
        }

        .item_description {
            font-size: 14px;

            &_element {
                font-size: 14px;
            }

            &_input {
                text-align: center;
                width: 28px;
                margin-left: 15px;
                font-size: 10px;
            }
        }
    }

    .purchase_info {

        &_list_item {
            min-width: 734px;
            width: 734px;
        }


    }

    .purchase_list .action_buttons {
        justify-content: center;
        gap: 9px;

        &_item {
            min-width: 175px;
            width: 175px;
            height: 33px;
        }
    }

}