summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.filter_sort {
  display: flex;
  position: relative;
  height: 132px;
  padding-top: 39px;
}

.filter {
  padding: 13px 16px 16px;
  width: 360px;
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  padding-left: 12%;
}
.filter[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter_heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter_summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter_heading {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter_content {
  margin-top: 16px;
}
.filter_link_box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter_head {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter_item[open] .filter_head {
  color: #F16D7F;
}
.filter_link {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.filter_link:hover {
  color: #F16D7F;
}

.sort {
  display: flex;
  left: 490px;
  top: 51px;
  gap: 18px;
  z-index: 10;
  position: absolute;
}
.sort_details {
  position: relative;
}
.sort_summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort_heading {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  left: -9px;
  top: 22px;
}
.sort_check {
  display: flex;
  gap: 9px;
  align-items: center;
  color: #6F6E6E;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.swiper {
  width: 100%;
  height: 100%;
  min-height: 100px;
}

.swiper-wrapper {
  padding: 20px;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.product_items {
  gap: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 1139px) {
  .filter_sort {
    justify-content: space-between;
  }
  .filter_sort .filter {
    padding-left: 0;
  }
  .subscribe_text {
    margin-bottom: 60px;
  }
  .input_form {
    margin-bottom: 110px;
  }
}
.product_items {
  gap: 16px;
}

@media (max-width: 768px) {
  .sort {
    left: 390px;
  }
  .product_items {
    gap: 16px;
  }
}/*# sourceMappingURL=style_catalog_page.css.map */