@import '../scss/helpers/_helpers.scss';

.background_preview_content {
    justify-content: flex-start;
    padding-left: calc(8px + 1.5625vw);
    margin-bottom: 64px;
}

.registration-wrapper {
    @include flex_block(flex-start, space-evenly);
    margin-bottom: 100px;
}

.information {
    max-width: 652px;
}

// form styling
.registration {
    max-width: 360px;
    margin-bottom: 100px;

    &__form {
        display: flex;
        flex-direction: column;

        &_heading {
            @include standard_text(#222, 16px);
        }

        &_input {
            width: 358.986px;
            height: 44px;
            margin-top: 20px;
        }

        &_sex-choice {
            @include flex_direction($fd);
            align-items: center;
            margin-top: 31px;
            margin-bottom: 33px;
            @include standard_text(#000, 11px);

            input[type="radio"] {
                width: 17px;
                height: 17px;
                flex-shrink: 0;
                color: #A4A4A4;
                padding-right: 10px;
                margin-right: 10px;
            }

            .sex-label {
                margin-right: 20px;
            }
        }

        &_text {
            @include standard_text(#B1B1B1, 13px);
            margin-top: 15px;
            margin-bottom: 39px;
        }
    }

    &__button {
        margin-top: 39px;
        background-color: $brand_pink_color;
        width: 167px;
        height: 50px;
        @include standard_text(#FFF, 16px);
        border: none;
        margin-top: 17px;
    }

    &__button:hover {
        @include hover_button();
    }
}

//information block
.information {
    list-style-position: inside;
    max-width: 652px;
    @include standard_text(#000, 24px);

    &__text {
        margin-top: 21px;
        margin-bottom: 22px;

        &_item {
            margin-bottom: 16px;
        }

        &_item::before {
            content: "";
            display: inline-block;
            width: 30px;
        }

        &_item::marker {
            content: url('../img/li.svg');
        }
    }
}

//media quaries

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .navbar {
        justify-content: space-between;

    }

    .background_preview_content {
        padding-left: 16px;
    }

    .registration-wrapper {
        @include flex_block(flex-start, center);
        padding-left: 16px;
        padding-right: 16px;
        gap: 22px;
    }

    .information {
        font-size: 16px;
    }
}

@media (max-width: 767px) {

    .background_preview_content {
        justify-content: center;
        padding-left: 0;
    }

    .registration-wrapper {
        @include flex_direction(column);
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;
        gap: 22px;
    }

    .registration {
        margin-bottom: 40px;
    }

    .information {
        font-size: 16px;
        max-width: 359px;
    }

}