@import '../scss/helpers/_helpers.scss';

.background {
    &_left {
        &_menu {
            color: #F16D7F;
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            --TEST: FUCK;





        }
    }
}