.background_preview_content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 148px;
  background: #F1E4E6;
  margin-bottom: 0;
  border-bottom: solid 1px #EAEAEA;
}
.background_preview_content_left_menu {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-weight: 400;
}
.background_preview_content_right_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.background_preview_content_right_menu_item {
  color: #636363;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;
  padding-right: 5px;
}
.background_preview_content_right_menu_item:not(:last-child)::after {
  content: "/";
  padding: 2.5px;
}
.background_preview_content_right_menu_item:last-child {
  color: #F16D7F;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;
  font-weight: 700;
  padding-right: 0;
}

.product_item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: row;
  position: relative;
}
.product_item .product_main_img {
  width: 60%;
}

.slider_button {
  position: absolute;
  height: 47px;
  width: 47px;
  color: rgb(42, 42, 42);
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  border: none;
}

.slider_button_right {
  right: 0%;
  top: 40%;
}

.slider_button_left {
  left: 0%;
  top: 40%;
}

.slider_button:hover {
  color: #F16D7F;
}

.product_description {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: #FFF;
  padding: 7%;
  padding-bottom: 3%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: -3%;
  gap: 12px;
}
.product_description_line {
  width: 70%;
}
.product_description_heading_1 {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product_description_heading_2 {
  color: #4D4D4D;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 30px;
}
.product_description_text {
  color: #5E5E5E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}
.product_description_price {
  color: #EF5B70;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 40px;
}

.product_description_menu {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product_description_menu_choice {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: baseline;
  padding-right: 20px;
}

.product_description_add_cart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 212px;
  height: 48px;
  border: solid #FF6A6A;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 24px;
  padding-right: 20px;
  gap: 11px;
  margin: 30px;
}
.product_description_add_cart_label {
  color: #F26376;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-weight: 400;
}

.product_block {
  background-color: #F8F8F8;
  margin-bottom: 100px;
}
.product_block .product_preview_text {
  color: #9F9F9F;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;
}
.product_block .price {
  margin: 20px 0 20px 0;
}

.subscribtion_section {
  background-image: url(../img/sunscription_background.png);
}

.product_img {
  width: 100%;
}

@media (max-width: 1140px) {
  .product_block:last-child {
    display: none;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .navbar {
    justify-content: space-between;
    padding: 0 20px;
  }
  .background_preview_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product_description {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .navbar {
    justify-content: space-between;
    padding: 0 20px;
  }
  .background_preview_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .product_description {
    width: 100%;
  }
  .product_description_menu {
    color: #6F6E6E;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .input_form {
    display: flex;
    justify-content: center;
    max-width: 80%;
  }
}/*# sourceMappingURL=style_product_page.css.map */