$sb: space-between;
$jc: center;
$bl: baseline;
$fd: row;


@mixin flex_block($bl, $sb) {
    display: flex;
    align-items: $bl;
    justify-content: $sb;
}

@mixin content_center() {
    justify-content: center;
    align-items: center;
}

@mixin flex_direction($fd) {
    display: flex;
    flex-direction: $fd;
}

@mixin flex_wrap_block($jc) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $jc;
}

@mixin flex_wrap_column() {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

@mixin hover_button() {
    background-color: $hover_button;
    color: $brand_pink_color;
    transition-duration: .2s;
}

//text format

@mixin standard_text($color, $font_size) {
    color: $color;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

@mixin heading_text($color, $font_size) {
    color: $color;
    font-family: Lato;
    font-size: $font_size;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}